:root {
  --orange: #f05a22;
  --light-orange: #f9ddcf;
  --grey-text: #898989;
  --orange-gradient: linear-gradient(148.71deg, #f05a22 9.57%, #f78e48 89.53%);
}
.no-card-msg{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.post-detail, 
.more-posts{
    padding: 2rem;
}
.back-btn {
  display: flex;
  padding: 0.8rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 8px 8px 0px #00000005;
}
.back-btn:hover {
  border: 1px solid;
}
.heading-part {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.item-detail {
  width: 100%;
  display: flex;
  flex: 1;
  gap: 3rem;
  padding-top: 2rem;
}
.item-detail .image {
  /* flex: 0.3; */
  aspect-ratio: 1;
  width: 400px;
  color: #fff;
  border-radius: 30px;
  padding: 1rem;
  display: flex;
  align-items: end;
}
.item-detail .image > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.img-icon {
  display: flex;
  align-items: end;
  gap: 1rem;
}
.ico {
  cursor: pointer;
}
.buttons button {
  border-radius: 7px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-weight: 700;
}
.info{
  /* flex: 0.7; */
  width: 100%;
}
.info p{
    color: var(--grey-text);
    margin-top: 1rem;
}

@media screen and (max-width:426px) {
  .heading-part h1{
    font-size: 1.8em;
  }
 .item-detail{
  flex-direction: column;
  justify-content: center;
 }
 .item-detail .image {
  width: 300px;
  align-self: center;
 }
}
@media screen and (min-width:769px) {
 .info p{
  width: 80%;
  }
}
