:root{
    --orange:#F05A22;
    --light-orange:#F9DDCF;
    --grey-text: #898989;
    --orange-gradient: linear-gradient(148.71deg, #F05A22 9.57%, #F78E48 89.53%);
}
.navbar{
    position: relative;
    width: 100%;
    background: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 2rem;
    box-shadow: 4px 14px 24px 0px #FFBE9DCF;
}
.navlink-wrapper{
    display: flex;
    background: #fff;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0.8rem 2rem;
}
.logo-wrapper{
    position: absolute;
    left: 1.5rem;
    display: flex;
    align-items: center;
}
.icon-wrapper{
    position: relative;
}
.navlink-wrapper a{
    color: #F9DDCF;
}
.navlink-wrapper .active{
    color: #F05A22;
}
.icon-wrapper:hover{
    color: var(--orange);
}
.navlink-wrapper .active .active-dot{
    display: block;
}
.active-dot{
    display: none;
    position: absolute;
    bottom: -8px;
    left: 42%;
    color: var(--orange);
    font-weight: 900;
}
@media screen and (max-width:769px) {
    .navbar{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    .logo-wrapper{
        position: static;
    }
}
@media screen and (max-width:426px) {
    .navlink-wrapper{
        position: fixed;
        bottom: 0;
        width: 100vw;
        border-radius: unset;
    }
}
